body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#map {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#logo {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 7;
  font-size: xx-large;
  font-style: italic;
}

#footer, #lang {
  font-size: 13px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  z-index: 7;
  line-height: 200%;
}
#footer {
  color: #333;
  left: 0px;
  bottom: 0px;
}

#lang {
  left: 7%;
  bottom: 96%;
  color: #999999;
}

#lang a {
  text-decoration: none;
}

#lang a:hover {
  border-bottom: 1px dashed;
}


a {
  color: #0078A8;
}

img.leaflet-marker-icon {
  box-shadow: 0px 0px 16px #000000;
  border-radius: 12px;
}

/* hides footer in small screen */
@media (max-width: 780px) {
  #footer {
    display: none;
  }
}
