body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#map {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#logo {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 7;
  font-size: xx-large;
  font-style: italic;
}

#footer, #lang {
  font-size: 13px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  z-index: 7;
  line-height: 200%;
}

#footer {
  color: #333;
  left: 0px;
  bottom: 0px;
}

#footer.closed {
  display: none;
}

#btn_footer_open.opened {
  display:none;
}

#btn_footer_open.opened {
  color: #333;
  left: 0px;
  bottom: 0px;
  font-size: 13px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  z-index: 7;
  line-height: 200%;
  display: block;
}

a {
  color: #0078A8;
}

#lang {
  left: 0px;
  top: 250px;
  width: 18px;
  color: #AAAAAA;
}

#lang img {
}

#lang a {
  cursor: pointer;
}

#btn_footer_close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
  text-shadow: 0 1px 0 #ffffff;
  text-decoration: none;
  float: right;
  margin-left: 5px
}

#btn_footer_close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

/* hides footer and marker-list on small screen */
@media (max-width: 780px) {
  #footer {
    display: none;
  }
  #marker-list {
    display: none;
  }
}

.leaflet-almost-top {
   position: absolute;
   z-index: 1000;
   pointer-events: none;
   top:200px;
}

#marker-list{
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#marker-above{
  display:none;
}

.on-map-top {
    font-weight:bold;
}

.placename{
    border-bottom: 1px rgb(230,230,230) solid;
    cursor:pointer;
}
